<h1>Admin::Dashboard#show</h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        <%= link_to 'Number of Products', :admin_products %>
      </th>
      <th>
        <%= @products_count %>
      </th>
    </tr>
    <tr>
      <th>
      <%= link_to 'Number of Categories', :admin_categories %>
      </th>
      <th>
        <%= @categories_count %>
      </th>
    </tr>
  </tbody>
</table>
